* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 25px;
    background-color: rgb(218, 214, 209);
}
header {
    /*Flex to display child element */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    color: rgb(15,67,32);
    height: 60px;
    font-size: 2vw;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btnHeader {
    border-radius: 15px;
    background-color: rgb(218, 214, 209);
    text-decoration: none;
    border: 0;
    outline: 0;
    color: rgb(15,67,32);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btnHeader:hover {
    background-color: aquamarine;
}

.btn {
    border-radius: 12px;
    border: 0;
    outline: 0;
    background-color: rgb(15,67,32);
    color: rgb(218, 214, 209);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 2fr 1fr; 
     /* Create a 4X4 grid of same size*/
    grid-template-rows: repeat(10, 1fr); 
    /* 4 rows of equal size */
    gap: 10px 10px; 
    /* Gap on x and y grid */
    font-family: 'Merienda';font-size: 22px;
}
#questions {
    text-align: center;
    align-self: baseline;
    grid-column: 2 / span 2;
    grid-row: 1 / span 5;
}
#finalScore {
    grid-column: 1 / span 2;
    grid-row: 6 / span 1;
    font-size: 15px;
}

#enterInitials {
    grid-column:  1/ span 1;
    grid-row: 7 / span 1;
    font-size: 15px;
}


#initialText {
    grid-column: 2 / span 1;
    grid-row: 7 / span 1;
    font-size: 15px;
    resize: none;
}

#submitScore {
    grid-column: 3 / span 1;
    grid-row: 7 / span 1;
    padding: 10px 10px 10px 10px;
    border-radius: 10%;
    border: 0;
    outline: 0; 
    /* Remove border around button */
    background-color: rgb(15,67,32)
    color: rgb(218, 214, 209);
    font-family: 'Merienda';font-size: 15px;
}